<a href="https://colab.research.google.com/github/cathyxinchangli/ATMS-597-SP-2020/blob/master/ATMS-597-SP-2020-Project-2/Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import requests
import pandas as pd
import datetime
import numpy as np
import datetime
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle
from matplotlib.collections import PatchCollection
from matplotlib.colors import ListedColormap
import pandas as pd
import numpy as np

In [17]:
def make_request(endpoint, payload=None):
    """
    Make a request to a specific endpoint on the weather API
    passing headers and optional payload.
    
    Parameters:
        - endpoint: The endpoint of the API you want to 
                    make a GET request to.
        - payload: A dictionary of data to pass along 
                   with the request.
    
    Returns:
        Response object.
    ---
    S. Moline, 'Hands on Data Analysis with Pandas'
    https://github.com/stefmolin/Hands-On-Data-Analysis-with-Pandas/blob/master/ch_04/0-weather_data_collection.ipynb
    """
    return requests.get(
        f'https://www.ncdc.noaa.gov/cdo-web/api/v2/{endpoint}',
        headers={
            'token': 'HfZphTTGbXckpmEuqevAXQZFRCTEJgkJ' # obtained by X. Li, 2/4/2020
        },
        params=payload
    )

def fetch_data(locationid, startdate, enddate, endpoint="data",
               datasetid="GHCND", stationid=None, units="metric", limit=100):
    response = make_request(
        endpoint,
        {
            "datasetid": datasetid,
            "datatypeid": ["TMAX", "TMIN"],
            "locationid": locationid,
            "stationid": stationid,
            "startdate": startdate,
            "enddate": enddate,
            "unit": units,
            "limit": limit,
        })
    response = pd.DataFrame(response.json()["results"])
    return response

def clean_up(datain, key):
    '''
    S. Nesbitt
    '''
    datain[key][(np.abs(datain[key]) == 9999)] = None
    datain[key] = datain[key].astype("float")
    datain["date"] = pd.to_datetime(df["date"], infer_datetime_format = True)
    datain.index = datain["date"]
    return datain

In [18]:
fetch_data("CITY:US360019", datetime.date(2018, 1, 1), datetime.date(2018, 4, 1))

                   date datatype            station attributes  value
0   2018-01-01T00:00:00     TMAX  GHCND:USC00280907   ,,7,0700   -106
1   2018-01-01T00:00:00     TMIN  GHCND:USC00280907   ,,7,0700   -156
2   2018-01-01T00:00:00     TMAX  GHCND:USC00281335   ,,7,0700    -78
3   2018-01-01T00:00:00     TMIN  GHCND:USC00281335   ,,7,0700   -150
4   2018-01-01T00:00:00     TMAX  GHCND:USC00283704   ,,7,0700    -72
..                  ...      ...                ...        ...    ...
95  2018-01-04T00:00:00     TMIN  GHCND:USW00014732   ,,W,2400    -66
96  2018-01-04T00:00:00     TMAX  GHCND:USW00014734   ,,W,2400    -16
97  2018-01-04T00:00:00     TMIN  GHCND:USW00014734   ,,W,2400    -77
98  2018-01-04T00:00:00     TMAX  GHCND:USW00054743       ,,W,    -38
99  2018-01-04T00:00:00     TMIN  GHCND:USW00054743       ,,W,    -88

[100 rows x 5 columns]

In [19]:
df = fetch_data("CITY:US360019", datetime.date(2018, 1, 1), datetime.date(2018, 4, 1))
df = clean_up(df, "value")
df.describe()

C:\Users\YangLu\Anaconda3\envs\gpu\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            value
count  100.000000
mean   -90.320000
std     51.557339
min   -222.000000
25%   -138.000000
50%    -94.000000
75%    -36.750000
max    -10.000000

In [ ]:
def stripe_plot():