<a href="https://colab.research.google.com/github/cathyxinchangli/ATMS-597-SP-2020/blob/master/ATMS-597-SP-2020-Project-2/Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
import datetime

In [2]:
def make_request(endpoint, payload=None):
    """
    Make a request to a specific endpoint on the weather API
    passing headers and optional payload.
    
    Parameters:
        - endpoint: The endpoint of the API you want to 
                    make a GET request to.
        - payload: A dictionary of data to pass along 
                   with the request.
    
    Returns:
        Response object.
    ---
    S. Moline, 'Hands on Data Analysis with Pandas'
    https://github.com/stefmolin/Hands-On-Data-Analysis-with-Pandas/blob/master/ch_04/0-weather_data_collection.ipynb
    """
    return requests.get(
        f'https://www.ncdc.noaa.gov/cdo-web/api/v2/{endpoint}',
        headers={
            'token': 'HfZphTTGbXckpmEuqevAXQZFRCTEJgkJ' # obtained by X. Li, 2/4/2020
        },
        params=payload
    )

def fetch_data(locationid, startdate, enddate, endpoint="data", datatypeid="TOBS",
               datasetid="GHCND", stationid=None, units="metric", limit=1000):
    response = make_request(
        endpoint,
        {
            "datasetid": datasetid,
            "datatypeid": datatypeid,
            "locationid": locationid,
            "stationid": stationid,
            "startdate": startdate,
            "enddate": enddate,
            "unit": units,
            "limit": limit,
        })
    response = pd.DataFrame(response.json()["results"])
    return response

In [3]:
fetch_data("CITY:US360019", datetime.date(2018, 1, 1), datetime.date(2019, 1, 1))

                    date datatype            station attributes  value
0    2018-01-01T00:00:00     TOBS  GHCND:USC00280907   ,,7,0700   -156
1    2018-01-01T00:00:00     TOBS  GHCND:USC00283704   ,,7,0700   -150
2    2018-01-01T00:00:00     TOBS  GHCND:USC00301309   ,,7,0700   -144
3    2018-01-01T00:00:00     TOBS  GHCND:USC00308577   ,,7,0800   -144
4    2018-01-02T00:00:00     TOBS  GHCND:USC00280907   ,,7,0700   -122
..                   ...      ...                ...        ...    ...
995  2018-08-05T00:00:00     TOBS  GHCND:USC00280907   ,,7,0700    244
996  2018-08-05T00:00:00     TOBS  GHCND:USC00283704   ,,7,0700    267
997  2018-08-05T00:00:00     TOBS  GHCND:USC00301309   ,,7,0700    211
998  2018-08-06T00:00:00     TOBS  GHCND:USC00280907   ,,7,0700    222
999  2018-08-06T00:00:00     TOBS  GHCND:USC00281335   ,,7,0700    233

[1000 rows x 5 columns]